.movie-poster {
    max-width: 25vw;
    margin-right: 16px;
}
.movie-container-expanded {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 48px;
}
.movie-info {
    display: flex;
    flex-direction: column;
    max-width: 25vw;
}
.movie-rating {
    font-size: 32px;
    color: blue;
    font-weight: bold;
}
.rating-run {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.rating, .run, .genre {
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.genre {
    width: 50%;
    margin-top: 8px;
}

.plot, .actors {
    margin-top: 0;
}
/* .movie-info > * {
    margin: 0;
}

.rating-run {
    display: flex;
    
}
.rating {
    margin-right: 16px;
} */