.movie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo {
    max-width: 25vw;
}
.title {
    max-width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    background-color: rgba(223, 67, 67, 0.773);
    color: red;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    text-align: center;
    
}
.button {
    text-align: center;
    
}